*{
    margin:0;
    padding:0;
}
body{
    margin: 10px;
    padding: 20px;
    background-color:#9BABB8 ;
}
.back{
    border-radius: 30%;
    border: solid;
    align-items: center;
    display: inline-block;
    display: flex;
    font-size: 20px;
    justify-content: center;
 }
.container{
    margin:30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}
img{
    width:300px;
    height:300px;
    border:solid;
    border-radius:30%;
    transition: 0.5s;
    cursor: pointer;
}
img:hover{
    transform: scale(1.1);

}
p{
    padding-top: 10px;
    font-size: 40px;
    cursor: pointer;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
button {
    margin:1px;
    width:90px;
    height:30px;
    margin:5px;
    color:black;
    border-radius: 30%;
    outline: none;
    box-shadow:-3px 3px 0 navy;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s;
}
button:hover{
    box-shadow: none;
    transform: translateY(4px);
}